<form class="d35e-generator-form flexcol">
    <header class="form-header">
        <p>Selecione os parâmetros para o novo NPC do sistema D35E.</p>
    </header>

    <div class="form-group">
        <label><i class="fas fa-users-cog"></i> Categoria</label>
        <select name="category">
            {{#each categories}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label><i class="fas fa-skull-crossbones"></i> Nível de Desafio (CR)</label>
        <select name="cr">
            {{#each levels}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <footer class="sheet-footer">
        <button type="submit" name="submit">
            <i class="fas fa-magic"></i> Invocar NPC
        </button>
    </footer>
</form>